<p>Pase de lista</p>

<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th>Matrícula</th>
      <th>Nombre</th>
      <th>Carrera</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let alumno of alumnos" (click)="seleccionAlumnos(alumno)">
      <th>{{ alumno.matricula }}</th>
      <td>{{ alumno.nombre }}</td>
      <td>{{ alumno.carrera }}</td>
    </tr>
  </tbody>
</table>
<div *ngIf="alumnoSeleccionado">
  <label>
    Nombre:
    <input [(ngModel)]="alumnoSeleccionado.nombre" placeholder="nombre" />
  </label>
</div>

<button (click)="toggle()">togle</button>
<div [@childAnimation]="estilo ? 'closed' : 'open'">
  <p>hola a todos {{ estilo }}</p>
</div>
